<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('images/home-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>The Cole Train 6</h1>
					<hr class="small">
					<span class="subheading">Adventures abound</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{# each data.posts.results}}
        <div class="post-preview">
          <a href="{{postUrl slug}}">
              <h2 class="post-title">
                {{{title}}}
              </h2>
              <h3 class="post-subtitle">
                {{{content.brief}}}
              </h3>
          </a>
          <p class="post-meta">{{#if author.name.first}}Posted by {{author.name.first}}{{/if}}</p>
      	</div>
				<hr>
			{{/each}}
      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
